/* iPhone 13 / 13 Pro - 1 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* iPhone 13 / 13 Pro - 5 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* iPhone 13 / 13 Pro - 6 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* iPhone 13 / 13 Pro - 4 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* iPhone 13 / 13 Pro - 7 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* iPhone 13 / 13 Pro - 8 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* iPhone 13 / 13 Pro - 9 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* iPhone 13 / 13 Pro - 10 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* iPhone 13 / 13 Pro - 11 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* iPhone 13 / 13 Pro - 12 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* iPhone 13 / 13 Pro - 13 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* iPhone 13 / 13 Pro - 20 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* iPhone 13 / 13 Pro - 21 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* iPhone 13 / 13 Pro - 14 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* iPhone 13 / 13 Pro - 15 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* iPhone 13 / 13 Pro - 22 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* iPhone 13 / 13 Pro - 18 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* iPhone 13 / 13 Pro - 17 */


position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;


/* image 36 */


position: absolute;
width: 20px;
height: 20px;

background: url(.png);


/* image 35 */


position: absolute;
width: 20px;
height: 20px;

background: url(.png);


/* image 34 */


position: absolute;
width: 20px;
height: 20px;

background: url(.png);


/* image 33 */


position: absolute;
width: 20px;
height: 20px;

background: url(.png);


/* image 32 */


position: absolute;
width: 20px;
height: 20px;

background: url(.png);
